
/* header size */
header {
    height: 4rem;
}

/* instruction button style and position */
#instructions{
    /* size */
    height: 3rem;
    width: 3rem;
    /* position to right-hand side */
   float: right;
    /* remove border & background */
    border-style: none;
    background: none;
}

/* general positioning and style of main content */
main {
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #d53369;
}

/* title style */
h1 {
    font-size: 75px;
    /* gradient colouring of text */
    background: -webkit-linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}
