/* Universal styling across pages */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0.5%;
    overflow-x: hidden;
    background: linear-gradient(20deg, #fe3a9e, #ff6377, #ff975a, #ffca53, #f9f871);
    background-attachment: fixed;
    color: #ffffff;
    /* Push footer to the bottom of the page */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */
/* header size */
header {
    height: 4rem;
}

/* top buttons (instructions and return) style*/
.top-button {
    /* size */
    height: 3rem;
    width: 3rem;
    /* remove border & background */
    border-style: none;
    background: none;
    margin: 0;
}

/* instruction button position (to the right) */
#instructions {
    float: right;
}

/* return button position (to the left */
#return {
    float: left;
}

/* popup box styling */
#popup {
    /* set to keep hidden from display until instruction button clicked */
    display: none;
    background-color: white;
    color: #fe3a9e;
    width: 90%;
    height: fit-content;
    border: 2px solid #fe3a9e;
    border-radius: 12px;
    text-size-adjust: 80%;
    /* set to display over the top of the page content when popped up */
    position: absolute;
    z-index: 2;
}

/* Gap between text and end of screen */
#popup,
h2 p {
    padding-left: 2%;
}

/* Position and style of close button on pop up box */
#close-popup {
    width: 10%;
    float: right;
    margin: 2%;
    font-size: 150%;
    min-width: 10px;
    min-height: 10px;
}

/* main */
/* general positioning and style of main content */
main {
    text-align: center;
    /*Push footer to the bottom of the page  */
    flex: 1;
}
/* Tinted semi-translucent overlay for end of game pop up contrast */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* transparent tinted overlay */
    background-color: rgba(0, 0, 0, 0.5);
    /* Hidden by default */
    display: none;
    /* Above other content */
    z-index: 1;
}

/* header styles */
h1,
#question-button {
    margin: 0;
    /* gradient colouring of text */
    background: -webkit-linear-gradient(90deg, #fe3a9e 0%, #f9f871 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* font size for headers */
h1 {
    font-size: 50px;
}
/* question button font size */
#question-button {
    font-size: 30px;
}
/* error message default display hidden */
#error{
    display:none;
}
/* Speech bubble container */
.bubble {
    background: #ffffff;
    color: #FFFFFF;
    font-family: Arial;
    filter: drop-shadow(10px 8px 2px black);
    text-align: center;
    /* size and position */
    max-width: 90%;
    height: fit-content;
    border-radius: 10px;
    justify-self: center;
    padding: 0 2% 0 2%;
    margin: 5%;
}

/* Sppech bubble tail */
.bubble:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-width: 0 20px 20px 0;
    border-color: transparent #ffffff transparent transparent;
    bottom: -20px;
    left: 50%;
    margin-left: -10px;
}

p {
    margin: 10% 0 2% 0;
}

/* general button style */
button {
    background-color: #67aeff;
    color: white;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    min-width: 150px;
    min-height: 3rem;
    font-weight: bold;
    font-size: 15px;
    margin: 10%;
}

/* change button backround colour when mouse hovers */
button:hover {
    background-color: #a5e5ff;
}

/* Select Language Page and select level page: position of trio of option buttons  */
.trio-buttons {
    display: flex;
    flex-direction: column;
}
/* styling of question and correct counter area */
.counters {
    background-color: #157ACC;
    border: 5px solid #67aeff;
    border-radius: 12px;
    font-weight: bold;
    width: fit-content;
    padding: 2%;
    /* center align */
    margin: auto;
}
/* styling for end of game pop-up */
#end.bubble {
    max-width: 80%;
    padding: 30px;
    color: #fe3a9e;
    font-size: 18px;
    position: absolute;
    bottom:40%;
    margin:auto;
    text-align: center;
    z-index: 2;
    display: none;
}
/* Styling for end of game pop-up heading */
#end h1{
    font-size: 30px;
}
/* Position for return button in end of game pop-up */
#end #return{
float: none;
    margin: auto;
}

/* footer */
footer {
    width: 100%;
    font-size: 12px;
    margin-top: 1%;

}

/*social media icons */
.icon-size {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-right: 1%;
}

/* larger screens, tablets and laptops*/
@media screen and (min-width:768px) {

    /* popup box styling larger screens */
    #popup {
        width: 50%;
        height: fit-content;
        text-size-adjust: 80%;
    }

    /* welcome paragraph larger screens */
    p {
        margin-top: 0;
    }

    /* Button position and style larger screens */
    button {
        margin: 0;
        font-size: 20px;
       width: 300px;
        height: fit-content;
    }
/* font size for headers on larger screens */
    h1 {
    font-size: 75px;
}

/* question button size and font size for larger screens*/
#question-button {
    font-size: 50px;
    width: fit-content;
}

    /* Select Language Page and select level page: position of trio of option buttons larger screens */
    .trio-buttons {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 5% 0;
    }
}