/* Universal styling across page */
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
/* header size */
header {
    height: 4rem;
}

/* top buttons (instructions and return) style*/
.top-button {
    /* size */
    height: 3rem;
    width: 3rem;
    /* remove border & background */
    border-style: none;
    background: none;
}

/* instruction button position (to the right) */
#instructions{
    float: right;
}

/* return button position (to the left */
#return{
    float: left;
}

/* popup box styling */
#popup{
    /* set to keep hidden from display until instruction button clicked */
    display: none;
    background-color: white;
    width: 100%;
    height: 40%;
    border: 2px solid #d53369;
    border-radius: 12px;
     text-size-adjust:80% ;
    /* set to display on top */
    position: absolute;
    z-index: 1;
}

#popup, h2 p{
    padding-left: 2%;
}

#close-popup{
    width: 10%;
    float: right;
    margin: 2%;
}

/* main */
/* general positioning and style of main content */
main {
    text-align: center;
    color: #d53369;
}

/* title style */
h1 {
    font-size: 75px;
    /* gradient colouring of text */
    background: -webkit-linear-gradient(90deg, #d53369 0%, #daae51 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* general button style */
button {
    background-color: #00aaff;
    color: white;
    border-radius: 12px;
    border-style: none;
    cursor: pointer;
    width: 100px;
    min-width: fit-content;
}

/* change button backround colour when mouse hovers */
button:hover {
    background-color: #00d5ff;
}

/* Select Language Page and select level page: position of trio of option buttons  */
.trio-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10% 0%;
}

/* question button colours */
#question-button {
    background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
}
#question-button:hover{
    background-color: #daae51;
}

/* footer */
footer {
    font-size: 12px;
    padding-top: 10%;
    /* push footer to the bottom and fill the screen width */
    position: absolute;
    bottom: 1%;
    width: 100%;
}
/*social media icons */
.icon-size {
    height: 2rem;
    width: 2rem;
    float: right;
    margin-right: 1%;
}

/* larger screens, tablets and laptops*/
@media screen and (min-width:768px) {
    /* popup box styling */
    #popup {
        width: 50%;
        height: 50%;
         text-size-adjust:80% ;
    }
}